.header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  position: fixed;
  z-index: 999;
  top: 0;
  background-color: rgb(239, 239, 239);
  box-sizing: border-box;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.heacer-logo a{
  font-weight: 400;
  font-family: "Anton", sans-serif !important;
}
.main-menu{
  position: relative;
}
.menu-ham{
  width: 37px;
  height: 20px;
  cursor: pointer;
  position: relative;
}
.line{
  width: 100%;
  display: block;
  height: 2px;
  background-color: #000;
  position: absolute;
  transition: .3s;
}
.line-1{
  top: 0;
  left: 0;
}
.line-2{
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.line-3{
  bottom: 0;
  left: 0;
}
.menu-ham.view .line-1{
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.menu-ham.view .line-2{
  opacity: 0;
}
.menu-ham.view .line-3{
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
.menu-div{
  position: fixed;
  width: 50%;
  right: 0;
  height: calc(100vh - 70px);
  background-color: #00000085;
  top: 80px;
  padding: 20px 0;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.menu-div.view{
  opacity: 1;
  visibility: visible;
}
.menu-div a{
  width: 100%;
  color: #fff;
  padding: 15px 20px;
}
.menu-div a:hover{
  background-color: #000;
}